# Android Studio
/measurement/*.iml
/measurement/.idea
/measurement/.gradle
/measurement/local.properties
/measurement/build
/measurement/.externalNativeBuild
/measurement/*/build
/measurement/*/*.iml

# Python
/analysis/__pycache__
/analysis/helper/__pycache__
/analysis/helper/*/__pycache__
